<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="io.coldfish.lettv">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_live_tv_black_24dp"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_live_tv_black_24dp"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".TVShowsActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".TVShowDetailsActivity"
            android:label="@string/title_activity_tvshow_details"
            android:parentActivityName=".TVShowsActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="io.coldfish.lettv.TVShowsActivity"/>
        </activity>
    </application>

</manifest>